
{% extends "base.html" %}

{% block title %} {{note}} {% endblock %}

{% block single_page %}
<div class="row">
    <br>
    <div class=" col-md-12">
        <h2 class="">{{ note.note_heading }}</h2>

        <br>
        {{note.note_text| safe|escape | linebreaksbr}}
        <br>
        <br>
        <span><b>Published on </b> {{note.pub_date}}</span>
    </div>
</div>

    <div class="row note-bottom-bar">
        <hr>
        <a class="btn btn-danger" href="{% url 'note_remove' pk=note.pk %}"><span class="glyphicon glyphicon-remove"></span><span> Delete this note</span></a>

    </div>






{% endblock %}
