
{% extends "base.html" %}

{% block title %} {{note}} {% endblock %}

{% block single_page %}
<a class="btn btn-default" href="{% url 'note_remove' pk=note.pk %}"><span class="glyphicon glyphicon-remove"> Delete this note</span></a>
<hr>
<div class="container">

    <div class="row">
        <br>
        <div class=" col-md-6">
            <h2 class="">{{ note }}</h2>

            <br>
            {{note.note_text| safe|escape | linebreaksbr}}
            <br>
            <br>
            <span><b>Published on </b> {{note.pub_date}}</span>
        </div>

    </div>
</div>

{% endblock %}
