{% extends "base.html" %}

{% block title %}Here is the start page{% endblock %}



{% block content %}

<section class="home">
    <div class="container-fluid">
        <div class="row">
<!-- ********************************** FIRST COLUMN **********************************        -->

           <div class="col-md-2 folders-section">
                <div class="all-notes-heading ">
                    <p>Your folders<span class="glyphicon glyphicon-list-alt"></span></p>
                </div>
                <form method="post" class="">
                   {% csrf_token %}
                   <!--<label for="id_name" class="text-center primary-font add-cat">Add new folder</label>-->
                   <div class="input-group col-xs-offset-1 col-xs-11 row  add-cat">
                       {{category_form}}

                        <span class="input-group-btn">
                            <button type="submit" name="add_category" class="btn btn-success primary-font">Add</button>
                        </span>
                   </div>
                    <!--{{category_form.as_p}}-->
                   <!--<input type="submit" value="Add" class="btn btn-success primary-font glyphicon glyphicon-remove">-->
               </form>
               {% for category in categories%}
                   <div class="repr"><span class="glyphicon glyphicon-folder-close"></span> <p class="secondary-font">{{category.name}}</p> </div>
               {%endfor%}
            </div>
<!-- ********************************** SECOND COLUMN **********************************        -->

            <div class="col-md-4 recent-notes-section">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="all-notes-heading">
                    <p>All notes<span class="glyphicon glyphicon-list-alt"></span></p>
                </div>


                <div class="all-notes">
                    {% for note in latest_notes_list%}
                    <div class="row  note">
                        <div class="col-md-10 action-tch" data-href="http://localhost:8000/notes/{{note.id}}">
                            <a href1="/notes/{{note.id}}" ><p class="  heading">{{note.note_heading}}</p></a>
                            <span>{{note.note_text | safe|escape |truncatechars:25}}</span>
                        </div>
                         <!--"/notes/{{note.id}}"-->
                        <div class="col-md-1">
                            <a class="btn btn-danger" href="{% url 'note_remove' pk=note.pk %}">
                                <span class="glyphicon glyphicon-remove	Try it"></span>
                            </a>
                        </div>
                    </div>


                {%endfor%}
                </div>

            </div>
<!-- ********************************** THIRD COLUMN **********************************        -->

            <div class="col-md-6 action-section">
                <div class="all-notes-heading">
                    <p>Add new note<span class="glyphicon glyphicon-list-alt"></span></p>
                </div>

                <div id="ajax-note"></div>
                <form method="post" class="add_note_form">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.as_p }}
                    </div>
                    <script>
                        CKEDITOR.replace( 'note_text' );
                    </script>


                    <input type="submit" name="add_note" value='Add note' class="btn btn-success primary-font"/>
                </form>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $('.action-tch').click(function(){
         <!--alert('I hate tomatoes.');-->
        console.log(this.dataset.href)
        $('.action-tch').removeClass('active');
        $(this).addClass('active');
        $('.action-section form').addClass('hidden');
        $('.all-notes-heading span ').attr('class', 'glyphicon glyphicon-plus-sign');
        $('.action-section all-notes-heading span').attr('class', 'glyphicon glyphicon-plus-sign');
        $('#ajax-note').load(this.dataset.href);
     });

    $('.add_note').click(function(){

    });

        <!--$('.action-tch').first().click();-->


</script>
{% endblock %}


