<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hey, it`s me</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h2>Add new note</h2>

    <form action="http://localhost:8000/notes/" method="post">
    {% csrf_token %}
        <input type="text" name="note_title" id="note_title" value="" />
        <label for="note_title">Enter title</label><br />

        <input type="text" name="note_text" id="note_text" value="" />
        <label for="note_title">Enter note text</label><br />
        <input type="submit" value="Add note" />
    </form>


    <ol>
    {% for note in latest_notes_list%}
        <li>{{note}}</li>
    {%endfor%}
    </ol>

</body>
</html>