{% extends "base.html" %}

{% block title %}Here is the start page{% endblock %}



{% block content %}

<section class="home">
    <div class="container-fluid">
        <div class="row">
<!-- ********************************** FIRST COLUMN **********************************        -->

           <div class="col-md-2 folders-section">

            </div>
<!-- ********************************** SECOND COLUMN **********************************        -->

            <div class="col-md-4 recent-notes-section">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <ul>
                {% for note in latest_notes_list%}
                    <div class="row">
                        <div class="col-md-9">
                            <a href="/notes/{{note.id}}"><li><h2>{{note.note_heading}}</h2></li></a>
                            <span>{{note.note_text | safe|escape |truncatechars:25}}</span>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-danger" href="{% url 'note_remove' pk=note.pk %}">
                                <span class="glyphicon glyphicon-remove	Try it"></span>
                            </a>
                        </div>
                    </div>
                    <hr>

                {%endfor%}
                </ul>

            </div>
<!-- ********************************** THIRD COLUMN **********************************        -->
            <div class="col-md-6 action-section">
                <form method="post" class="add_note_form">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.as_p }}
                    </div>
                    <script>
                        CKEDITOR.replace( 'note_text' );
                    </script>


                    <input type="submit" value='Add note' />
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}


